body{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
body.loaded {
    opacity: 1;
}
.black-intro {
    margin-top: 0rem;
    background-color: black;
    height: 30rem;
}

h2, .h2 {
    text-decoration-color: var(--bs-link-hover-color) !important;
    text-decoration-thickness: 3px !important;
    text-underline-offset: 7px;
}

.masthead {
    background: 
    linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.7) 50%, #000 100%), url("../assets/img/wallpaper.webp");
  }

  
.title-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    padding-bottom: 2rem;
    background: #000;
    min-height: 28rem;
    display: flex;
    align-items: center;
}
.title-section p {
    margin-bottom: 5rem;
}

.showcase-row{
    min-height: 650px;
}

.footer {
    padding: 3rem 0;
}

@media (max-width: 991px){
    .dropdown-item{
        display: block;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        transition: color 0.15s ease-in-out !important;
    }
    .dropdown-item:hover, .dropdown-item:focus {
        color: var(--bs-nav-link-hover-color);
        background-color: #fff;
    }
}

/* desktop dropdown animations */
@media (min-width: 992px) {
    .dropdown-menu {
        padding: 0.3rem;
        will-change: transform;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.35);
        display: block;
        visibility: hidden;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(-15px);
        visibility: visible;
    }
    
    .nav-item.dropdown:not(:hover) .dropdown-menu {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
    }
    
    .dropdown-item{
        padding: 0.8rem;
        margin: 0.3rem;
        border-radius: 1rem;
    }
}


.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    height: 100%;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45); 
}

.card-img-container {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body .btn {
    align-self: flex-start; /* Ensures all buttons align properly */
    margin-top: auto; /* Pushes button to the bottom */
}
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}


  


  
  
  